// @import '../../node_modules/normalize.css/normalize.css';
body {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

// markdown 的样式
.markdown-text {
  padding: 1em;
  margin: auto;
  max-width: 42em;
  line-height: 1.2;
  a {
    color: #1e6bb8;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  img {
    max-width: 100%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #159957;
  }
  p {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  ul,
  ol {
    margin-top: 0;
  }
  blockquote {
    padding: 8px 1rem;
    padding-right: 0;
    margin-left: 0;
    color: #819198;
    border-left: 0.3rem solid #dce6f0;
  }
  blockquote >:first-child {
    margin-top: 0;
  }
  blockquote >:last-child {
    margin-bottom: 0;
  }
  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
  }
  table th {
    font-weight: bold;
  }
  table th,
  table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec;
  }
  dl {
    padding: 0;
  }
  dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
  }
  dl dd {
    padding: 0;
    margin-bottom: 1rem;
  }
  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: #eff0f1;
    border: 0;
  }
  code,
  pre {
    font-family: Monaco;
    border-radius: 5px;
    background-color: #F8F8F8;
    color: inherit;
  }
  code {
    border: 1px solid #EAEAEA;
    margin: 0 2px;
    padding: 0 5px;
    line-height: 1.4;
  }
  pre {
    border: 1px solid #CCCCCC;
    overflow: auto;
    padding: 4px 8px;
    margin: 15px 0;
    word-break: break-word;
    p {
      margin: 0;
    }
    ul,
    ol {
      margin: 0;
      padding-top: 12px;
      padding-bottom: 12px;
    }
    tt {
      display: inline;
      padding: 0;
      margin: 0;
      overflow: initial;
      line-height: inherit;
      word-wrap: normal;
      border: 0;
    }
  }
  pre > code {
    border: 0;
    margin: 0;
    padding: 0;
  }
}
